<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--        DB에서 데이터 조회 또는 삽입 등에서 눌값허용-->
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="callSettersOnNulls" value="true"/>

        <!--        동일한 select 문이 또 요청되면 기존캐시에서 가져옴-->
        <setting name="cacheEnabled" value="true"/>

        <!--        테이블의 컬럼명과 VO객체의 setter명 연결 규칙 설정-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.sample.library.domain"/>
    </typeAliases>
    <!-- <typeAliases>
		<typeAlias type="com.sample.library.domain.MemberVO" alias="member"/>
	</typeAliases> -->
</configuration>